flask==3.1.0
Flask-WTF==1.2.2
wtforms==3.2.1
pandas==2.2.3
pyyaml==6.0.2
python-box== 7.3.0
ensure==1.0.4
werkzeug==3.1.0
ipykernel==6.29.5
scikit-learn==1.6.0
matplotlib==3.10.0
seaborn==0.13.2
nltk==3.9.1
wordcloud==1.9.4
-e .